@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    text-align: center;
}

header > h1{
    font-family: 'Passion One', cursive;
    font-size: 85px;
    font-weight: 100;
    color: white;
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 50px;
}

header > p > a {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

header > p > a:hover{
    text-decoration: underline;
}

section{
    padding-top: 8vh;
    padding-bottom: 8vh;
    padding-left: 30px;

}

.normal{
    background-color: white;
    color:black;
    font-family: 'Sriracha', cursive;
    font-size: 2em;
    max-width: 800px;
    line-height: 2em;
}

.imagem1{
    background-image: url('imgs/flor.jpg');
    height: 600px;   
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.404);
}

section.imagem1 > p{
    font-family: 'Sriracha',cursive;
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
    display: inline-block;
    padding: 5px;
    font-size: 2em;
    text-shadow: 2px 1px 0px black;
}

.imagem2 {
    background-image: url('imgs/livro.jpg');
    height: 600px;   
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    position: relative;
    box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.404);
}

section.imagem2 > p{
    font-family: 'Sriracha',cursive;
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
    display: inline-block;
    padding: 5px;
    font-size: 2em;
    text-shadow: 2px 1px 0px black;
}

footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer > p > a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

footer > p > a:hover{
    text-decoration: underline;
    transition: 0.5s;
}